.container {
  background-color: lightblue;
  text-align: center;
  width: 40%;
  margin-top: 10%;
  border: 0.2px solid lightslategray;
  padding: 10px;
}

tbody tr:nth-child(3) {
  border-bottom: solid 2px green;
 }

 input{
   width: 40px;
 }

 tfoot tr:nth-child(4) {
  border-bottom: solid 2px green;
 }

 .parent{
   background-color: red;
 }

 .btn{
   min-width:150px;
 }